.section{
    background-color: blanchedalmond;
    padding: 20px;
    width: 100%;
    height: 30;
    font-size: 30px
}
.buttonStyles{
    height: 30px;
    width: 150px;
    color: white;
    background-color: black;
    margin-top:30px ;
}
.sectionStyleChange{
    background-color: rgb(198, 23, 23);
    color: white;
    padding: 20px;
    height: 30;
    font-size: 30px
}
.buttonStylesChange{
    height: 30px;
    width: 150px;
    color: black;
    background-color: white;
    margin-top:30px ;
}
.inputField{
    height: 20px;
    width: 130px;
    margin-top: 30px;
    font-size: 15px;
    padding: 7px;
}
.inputBtn{
    height: 30px;
    width: 150px;
    color: white;
    background-color: black;
    margin-top:30px ;    
}